table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  th,
  td {
    border-bottom: 1px solid #ddd;
  }
  th,
  td {
    width: 100%;
  }
}
.node-details,
.user-details {
  overflow-x: auto;
}
.user-details {
  display: none;
}
.btn-effect {
  border-bottom: 2px solid #000 !important;
  cursor: default !important;
  color: #000 !important;
  font-weight: bold;
}
.btn span {
  padding: 4px 8px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  color: #00008b;
  margin-right: 12px;
}
