{% set base_url = url('<front>') %}
{% if data.nodes.items|length > 0 %}
  <div class="btn">
    <span id="node-count" class="btn-effect">Node Count Details</span>
    <span id="user-count">User Count Details</span>
  </div>
  <div class="node-details">
    <p>
      Total Nodes: <a href="{{ base_url }}admin/content?type=All&status=All&langcode=All">{{ data.nodes.total.2 }}</a><br />
      <small>(Published: <a href="{{ base_url }}admin/content?type=All&status=1&langcode=All">{{ data.nodes.total.0 }}</a> | Unpublished: <a href="{{ base_url }}admin/content?type=All&status=2&langcode=All">{{ data.nodes.total.1 }}</a>)</small>
    </p>
    <table>
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Content Type</th>
          <th>Published Node</th>
          <th>Unpublished Node</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
        {% for id, val in data.nodes.items %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td>{{ val.name }}</td>
          <td><a href="{{ base_url }}admin/content?type={{ id }}&status=1&langcode=All">{{ val.published }}</a></td>
          <td><a href="{{ base_url }}admin/content?type={{ id }}&status=2&langcode=All">{{ val.unpublished }}</a></td>
          <td><a href="{{ base_url }}admin/content?type={{ id }}&status=All&langcode=All">{{ val.sum }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="user-details">
    <p>
      Total Users: <a href="{{ base_url }}admin/people?status=All&role=All&permission=All">{{ data.users.total.2 }}</a><br />
      <small>(Active: <a href="{{ base_url }}admin/people?status=1&role=All&permission=All">{{ data.users.total.0 }}</a> |
      Inactive: <a href="{{ base_url }}admin/people?status=2&role=All&permission=All">{{ data.users.total.1 }}</a>)</small>
    </p>
    <table>
      <thead>
        <tr>
          <th>S. No.</th>
          <th>User Role</th>
          <th>Active User</th>
          <th>Inactive User</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
        {% for id, val in data.users.items %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td>{{ val.name }}</td>
          <td><a href="{{ base_url }}admin/people?status=1&role={{ id }}&permission=All">{{ val.active }}</a></td>
          <td><a href="{{ base_url }}admin/people?status=2&role={{ id }}&permission=All">{{ val.inactive }}</a></td>
          <td><a href="{{ base_url }}admin/people?status=All&role={{ id }}&permission=All">{{ val.sum }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  No data available.
{% endif %}
